<p><h2>Add a new List:</h2></p>
<div class='addListOverlay'>
<form action="/user/list/create" method="post">
    <label for="list_name">List Name: </label>
    <input id="list_name" type="text" name="list_name">
    <button type="submit">Create</button>
</form>
</div>
