<nav id="nav-bar">
  <img class="logo" src="/assets/golf-flag.png">
  <div class="appName">mpprThng</div>
  <% if (Object.keys(user).length === 0 && user.constructor === Object) {%>
    <div class="sign_in">Sign In</div>
  <%}%>
</nav>
