<nav id="nav-bar">
  <img class="logo" src="/assets/golf-flag.png">
  <div class="appName">mpprThng</div>
  <% console.log(user) %>
  <% if (user === 0) {%>
    <meta name="google-signin-client_id" content="911270238954-irt7ibeipgghv1iev0ie11revr4buk03.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/scripts/sign-in.js"></script>
    <form action="/sign-in" method="post">
      <input type="hidden" name="id_token" value="">
      <button type="button" id="sign_in">Sign In</button>
    </form>
  <%}%>
</nav>
