<% include partials/_head %>
<% include partials/_nav %>
<h1>My Favourite Lists</h1>
<table>
    <% for (let key in maps) {%>

    <tr>
    <th><a href="/map/<%= maps[key].list_id %>"><%= maps[key].name%></a></th>
    <th><form action="/map/<%= maps[key].list_id %>/unlike" method="post">
    <button type="submit">unlike this map</button>
    </form></th>
    </tr>
    <% }%>
</table>
