<% include partials/_head %>
<% include partials/_nav %>
<div class='lists'>
  <div class='listHeader'>
    <h2>My Favourite Lists:</h2>
  </div>
  <table class='listTable'>
    <tr><th><h3>List Name: </h3></th><th><h3>Actions: </h3></th></tr>
    <% for (let key in maps) {%>
    <tr>
    <th><a href="/map/<%= maps[key].list_id %>">- <%= maps[key].name%></a></th>
    <th><form action="/map/<%= maps[key].list_id %>/unlike" method="post">
    <button type="submit">UnFavourite!</button>
    </form></th>
    </tr>
    <% }%>
  </table>
</div>

