<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>
  <body>
    <nav id="nav-bar">
    <div class="appName">MapThing</div>
    <div class="sign_in">Sign In</div>
    </nav>
    <content>
    <div class="left">
      test left
      This is a bunch of random content... fkgjnslkjdfngksjdflgkjsdlfkjglksjdfnglkjsbdflkgbslkdfg
      dfgkbsdfkgblksdbf;gkjhs;kdjfglkjsdfnbg;lksdfg
      sdfgbsdlfkgb
    </div>
    <div class="map">
      This is middle content
      This is a bunch of random content... fkgjnslkjdfngksjdflgkjsdlfkjglksjdfnglkjsbdflkgbslkdfg
      dfgkbsdfkgblksdbf;gkjhs;kdjfglkjsdfnbg;lksdfg
      sdfgbsdlfkgb
    </div>
    <div class="right">
      test right
      This is a bunch of random content... fkgjnslkjdfngksjdflgkjsdlfkjglksjdfnglkjsbdflkgbslkdfg
      dfgkbsdfkgblksdbf;gkjhs;kdjfglkjsdfnbg;lksdfg
      sdfgbsdlfkgb
    </div>

    </content>
    <footer>
    sddfs
    </footer>
  </body>
</html>
