<% include partials/_head %>
<% include partials/_nav %>
<% console.log(points[0].address) %>
<div class='lists'>
  <div class='listHeader'>
    <h2>Points of Interest:</h2>
  </div>
  <table class='listTable'>
    <tr><th style="width:25%"></th><th style="width:75%"></th></tr>
    <% for (let key in points) {%>
      <tr>
        <td><a href="/user/point/<%= points[key].id %>"><%= points[key].title%></a></td>
        <td><%= points[key].address%></a></td>
      </tr>
    <% }%>
  </table>
</div>
<a href="/user/list/<%= list_id %>/create" style='text-align: center;'><h2>Add a Point<h2></a>
