<input type="hidden" id="list_id" value="<%= list_id %>">
<link href='/styles/layout.css' rel='stylesheet' type='text/css'>
<div id="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApuXPdvWCHCFtRg-AYVTOlfXNIJ7y-HLA&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  const list_id = $("#list_id").val();
  $.ajax("/getPoints/" + list_id).done(function (data, textStatus, jqXHR) {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: {lat: 43.644087, lng: -79.387014},
      disableDefaultUI: true
    });


    for (let key in data) {
      let marker = new google.maps.Marker({
        position: {lat: Number(data[key].lat), lng: Number(data[key].long)},
        map: map
      });

      let content = `<h2>${data[key].title}</h2><h3>${data[key].address}</h3><img src='${data[key].img_url}'><p>${data[key].desc}</p>`;

      let infowindow = new google.maps.InfoWindow({
        content: content
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  });

</script>
