<% include partials/_head %>
<% include partials/_nav %>
<div class='showLists'>
<% console.log(list)%>
<table>
    <% for(let key in list) {%>
    <tr>
    <th><a href="/user/list/<%= list[key].id%>"><h2><%= list[key].name%></h2></a></th>
    </tr>
    <% }%>
</table>
</div>
